//Prestamos
.main-prestamos{
    background-image: url(/img/img-prestamo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    .formulario{
            width: 60%;
            height: 95%;
            background-color: rgba(0, 0, 0, 0.700);
            backdrop-filter:blur(5px);
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            .datos-personales{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                height: 100%;
                padding: 10px;
                
            }
            .input-prestamo{
                width: 400px;
                height: 40px;
                margin: 10px;
                border-radius: 10px;
                border-width: 1px;
                border-style: hidden;
                box-shadow:  black 0px 0px 2px;
                font-size: 18px;
                text-align: center;
            }
            .label-prestamo{
                font-size: 18px;
                text-align: center;
                margin: 5px;
            }
            fieldset{
                border-color: 2px black;
                border-radius: 5px;
            }
            .sub-formulario{
                text-align: center;
                .titulos-secciones-formulario{
                    font-size: 25px;
                    background-color: $color-griscur;
                    color: white;
                    border-radius: 5px;
                    width: auto;
                    padding: 10px;
                }
            }
            .datos-laborales{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                height: 100%;
                margin: 10px;
                padding: 10px;
            }
            &::placeholder{
                padding: 10px;
                font-size: 20px;
                text-align: center;
            }
            #boton-prestamo{
                width: auto;
                padding: 10px;
                font-size: 18px;
            }

        }
}